<%- include('../../partials/admin-start.ejs') %>

  <h1 class="h2 mb-3">Filmler</h1>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="text-end mb-3">
            <a href="/admin/movies/create" class="btn btn-success"><i class="fas fa-plus"></i> Ekle</a>
          </div>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Adı</th>
                <th class="th-2"></th>
              </tr>
            </thead>
            <tbody>
              <% movies.forEach(p => { %>
                <tr>
                  <td><%= p.name %></td>
                  <td>
                    <a href="/admin/movies/<%= p._id %>/edit" class="btn btn-warning btn-sm">Güncelle</a>
                    <button onclick="deleteCategory(this)" data-id="<%= p._id %>" data-name="<%= p.name %>" type="button" class="btn btn-danger btn-sm">Sil</button>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  const deleteCategory = async (e) => {
    const categoryName = e.getAttribute("data-name")

    if(confirm(`${categoryName} kategorisini silmek istiyor musunuz?`)){
      const categoryId = e.getAttribute("data-id")
      const res = await fetch(`/admin/categories/${categoryId}/delete`, {
        method: "DELETE",
        body: JSON.stringify({ categoryId }),
        headers: { "Content-Type" : "application/json" }
      })
  
      const data = await res.json()
  
      console.log(data)
      if(data === true){
        e.parentNode.parentNode.remove()
      }
    }
  }
</script>

<%- include('../../partials/admin-finish.ejs') %>